version: "3.8"
services:
  app:
    build:
      context: .
    ports:
      - "8080:8080"
    depends_on:
      - rabbitmq
    networks:
      - email_worker_net
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - email_worker_net

networks:
  email_worker_net:
    driver: bridge